@media only screen and (max-width: 600px) {

/* welcomepage  */
.brand-type-container{height: 300px;}
.special-type-menu-box{width: 100%;font-size: 15px;}
.add-container{height: 300px;}
.add-box-main{width: 90%;}
.add-container2{padding: 5px;gap: 10px;}
.add-box{width:45%;height: 200px;}


/* ccosmetics page */
.search-box{display: none;}
.InputContainer{width: 90%;height: 80%;border-radius: 10px;}
.mobileview-search-container{display: flex;}
.logo-box{width: 35%; padding-left: 10px;}
.btns-icons{ width: 65%;font-size: 15px;display: flex;justify-content: end;}
.btns-name{font-size: 12px;}
.ad-container{height: 150px;}
.category-container{display: none;}
.product-type-container{gap: 10px;height:150px ;}
.product-type-box{width: 150px;}
.product-name{ font-size: 15px;}
.products-box-container{display: flex;align-items: center;justify-content: center;padding-left: 0px;gap: 10px;}
#products-card{width: 200px;height: 320px;}
#products-img{height: 45%;}
#products-dtls{height: 55%;}
#product-title {font-size: 14px;}


/* footer */
.footer{display: flex; flex-direction: column;justify-content: start;align-items: start;gap: 50px;padding: 30px;}
.link-box{width: 100%; margin-top: 0px; height: auto; gap: 20px;}
.link-title{font-size: 20px;font-weight: bold;margin-bottom: 0px;}
.footer-medialink-box{flex-direction: column;}
.medial-link-box , .policy-link-box{width: 100%;gap: 10px;}

/* productDetails */
.productDetails-container{display: flex;flex-direction: column;height: auto;margin-top: 20px;}
.productDetails-img-box ,.productDetails-Details-box {width: 100%;}
.productDetail-btns-box{ justify-content: space-around;align-items: center;}


/* cart box */
.item-box {height: 150px;}
.item-box {flex-direction: column;height: auto; border-radius: 10px;}
.Img-Details-Box{width: 100%;}
#itemImgBox{width: 40%;}
#itemDetailsBox{ width: 55%;}
#itemNAme{font-size: 20px;}
#itemDetail{font-size: 15px;}
#itemPriceBox{width: 100%;padding: 10px;flex-direction: row;align-items: space-around; }
#placeOder{font-size: 15px; padding: 5px;}
.Cart-total{font-size: 15px; gap: 5px;}



/* account section */
#user-profile-Container{width: 100%;height: auto;display: flex;align-items: center;}
#user-profile-Box{width: 100%;height: auto;display: flex;justify-content: center;align-items:center ;flex-direction: column;}
.sidebar{width: 100%; height: auto;display: flex;justify-content: center; align-items: center;  }
.user-about-box{height: auto;padding: 10px; display: flex;justify-content: center;align-items: center;flex-direction: column;gap: 10px;}

.user-name-box{width: 100%;display: flex;justify-content: center;align-items: center;}
.user-icon-box img{ width: 20px;}
.user-icon-box{width: 15%;}
.user-text-box{width: 70%; font-size: 15px;}
.user-Account-box{padding: 15px 0px ;}
.user-ac-mange-box{display: flex; justify-content: center; padding: 10px 0px;}
.user-ac-mange{font-size: 15px;}
.user-Logout-box , .user-oder-box{padding: 15px 0px;}

.main-content{width: 100%; height: 100vh;background-color: white;}
.Street-Locality{flex-direction: column;}
#Street , #Locality{padding: 20px 15px;}}

/* login-otp */
@media only screen and (max-width: 950px) {
#EmailLoginBox , #OtpLoginBox{width: 100%;height: 100vh;flex-direction: column;}
.add-box{width: 100%;height: 40%;display: flex;align-items: start;justify-content: start;box-shadow:none;overflow: hidden;}
.email-box ,.otp-box{width: 100%;height: 60%}
.brand{height: 40%; }
.brand  h1{font-size: 20px;}
.brand p{font-size: 15px;}
.illustration{margin-top: 0px;padding: 10px;height: 30%;}
.illustration-container {width: 150px;height: 150px;}
.term-privacy-box{font-size: 10px;}
.otp-header h2{font-size: 15px;text-align: center;}
.otp-header p{font-size: 12px;text-align: center;}
.otp-inputs input {width: 40px;height: 40px;}




.productDetails-container{display: flex;flex-direction: column;height: auto;margin-top: 20px;}
.productDetails-img-box ,.productDetails-Details-box {width: 100%;}
.productDetail-btns-box{ justify-content: space-around;align-items: center;}



}


